<div class="body">
  <div class="header">
    <div class="header-left">
      <%= link_to("あなたの願い叶えます", "/") %>
    </div>
    <div class="logout-btn">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    </div>
  </div>
  <div class="main-body">
    <div class="negai">
      <p>願いを叶えに行く</p>
    </div>
    <div class="negai-button">
      <%= link_to("GO!!", "event/top", method: :get) %>
    </div>
  </div>
</div>