<div class="main-container" id="main-container">
  <div class="main-message">
    <p class="message-1">はじめまして</p>
    <p class="message-2">突然ですがあなたには<br>叶えたい願いがあるでしょうか？</p>
    <p class="message-3">このアプリではそんなあなたの願いを叶える為に生まれました。<p>
  </div>
  
</div>