<div class="main-container" id="main-container">
  <div class="main-message">
    <p class="message-1">はじめまして</p>
    <p class="message-2">突然ですがあなたには<br><span class="blue">叶えたい願い</span>があるでしょうか？</p>
    <p class="message-3"><span class="blue">あなたの願いを必ず現実化する。</span><br><span class="small">そんな想いでこのアプリは誕生しました。</span></p>
    <p class="message-4">さあ一緒に<br>新たな一歩を踏み出しましょう。</p>
  </div>

  <div class="start-btn">
    <%= link_to "始める", new_user_session_path, method: :get %>
  </div>
  
  <div class="footer">
    <%= link_to "skip", new_user_session_path, metho: :get %>
  </div>
</div>