.main-message {
  width: 100%;
  text-align: center;
  padding-top: 250px;
  font-size: 150px;
}

.message-1{
  margin: 0 auto;
  display: none;
}

.message-2{
  margin: 0 auto;
  display: none;
  font-size: 100px;
}

.message-3{
  margin: 0 auto;
  display: none;
  font-size: 100px;
}

span.blue{
  color:#4169e1;
}

span.small{
  font-size: 85px;
}

.message-4{
  margin: 0 auto;
  display: none;
  font-size: 100px;
}